Django==1.8
SQLAlchemy==0.9.7
Werkzeug==0.9.4
cov-core==1.15.0
coverage==3.7.1
-e git+https://github.com/CCI-MOC/haas@4decd9f385884bd898c5e240590b8f74761d5620#egg=haas-master
importlib==1.0.3
passlib==1.6.2
pexpect==3.3
py==1.4.26
pytest==2.6.2
pytest-cov==1.8.0
requests==2.4.1
schema==0.3.1
wsgiref==0.1.2
