{% extends "base.html" %}

{% block content %}
<!--<table class="table table-striped">
    <thead>
        <tr>
	    <th>
		<input type="checkbox" onClick="toggle(this)" id="masterCheck" />
	    </th>	     
            <th>
                Node Name
            </th>                    
        </tr>
    </thead>
    {% for node in context.nodes %}
    <tr>
	<td><input type="checkbox" name="nodeCheck" /></td>      
	<td>{{node.name}}</td>
    </tr>
    {% endfor%}
</table> -->
	{% block node%}
           {% include "allNodes.html" %}
    	{% endblock %}
<a href="../{{context.project.name}}" class="btn btn-primary">Allocate</a> <a href="../{{context.project.name}}" class="btn btn-default">Cancel</a>
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('nodeCheck');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>


{% endblock %}
