{% extends "base.html" %}

{% block content %}
<h1>{{nname}}</h1>
<table class="table table-bordered table-condensed table-hover">
    
        <tr class ="info">	    	     
            <th class ="info">
                Node Name
            </th>
	    <th class = "info">
                Active
	    </th>                    
        </tr>
   
    {% for node in context.nodes %}
    <tr class = "active">  
	<td>{{node}}</td>
	<td>
		<form action="/projects/details/freenodes/{{context.project.name}}" method="POST">
			{% csrf_token %}
			 <input type="hidden" name="node_name" id="" value="{{node}}"/>
			<input type="submit" value="Allocate" class="btn btn-primary"/>
		</form>
		
	</td>
    </tr>
    {% endfor%}
</table> 
 <a href="../{{context.project.name}}" class="btn btn-default">Cancel</a>


{% endblock %}
