{% extends "base.html" %}

{% block content %}
<h1>{{nname}}</h1>
<div class="col-md-8">
<table class="table table-bordered table-condensed table-hover">
        <tr class ="info">	    	     
            <th class ="info">
                Node Name
            </th>
	    <th class = "info">
                Active
	    </th>                    
        </tr>
   
    {% for node in context.nodes %}
    <tr class = "active">  
	<td>{{node}}</td>
	<td>
		<form action="/projects/{{context.project.name}}/attach_node" method="POST">
			{% csrf_token %}
			 <input type="hidden" name="node_name" id="" value="{{node}}"/>
			<button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Attach</button>
		</form>
		
	</td>
    </tr>
    {% endfor%}
</table> 
</div>
<div class="col-md-10">
 <a href="../{{context.project.name}}" class="btn btn-default btn-sm">
 Cancel</a>
</div>

{% endblock %}
