<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title%}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <style>
        {% block css%}
            {% include "style.css" %}
        {% endblock %}
    </style>

    <script>
        {% block js %}
        {% endblock %}
    </script>

</head>

<body class="container">

    {% block header%}
        {% include "header.html" %}
    {% endblock %}

    <br />
    {% block content %}

    {% endblock %}

<div id="footer">
    {% block footer %}
        {# include "footer.html" #}
    {% endblock %}
</div>
</body>

</html>
