    

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">
<i class="glyphicon glyphicon-plus"></i>
  Create
</button>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createNodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createNodeModalLabel">{{createModal.header}}</h4>
      </div>
      <div class="modal-body" id="createModalForm">
      {% include "form.html" with form=createModal.form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Create</button>
      </div>
    </div>
  </div>
</div>

<script>
function submitForm(){
  $('#createModalForm > form').submit();
}
  
</script>
