    

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createNetworkModal">
<i class="glyphicon glyphicon-plus"></i>
  Create
</button>

<div class="modal fade" id="createNetworkModal" tabindex="-1" role="dialog" aria-labelledby="createNetworkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createNetworkModalLabel">Create New Network</h4>
      </div>
      <div class="modal-body" id="createNetworkForm">
      {% include "form.html" with form=project.createNetwork %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createNetwork()">Create</button>
      </div>
    </div>
  </div>
</div>

<script>
function createNetwork(){
  $('#createNetworkForm > form').submit();
}
  
</script>
