<a href="#" data-toggle="modal"
   data-target="#deleteHeadnode" class="btn btn-danger" title="delete Headnode">Delete Headnode</a>

<div class="modal fade" id="deleteHeadnode" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="true"></button>
                <h4 class="modal-title" id="myModalLabel">Delete Headnode: "{{headnode.name}}"?</h4>
                </div>
                <div class="modal-footer">

              <a href ="/projects/{{headnode.project}}/headnodes/{{headnode.name}}/headnode_delete" class="btn btn-danger">Delete</a>  
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        </div>
    </div>
  </div>
</div>
<script>
function deleteHeadnode(){
    $("#deleteHeadnodeForm > form").submit();
}
</script>



