<form id="plugin-form" method="post" action="{{ form.action }}">
    {% csrf_token %}

    {% for field in form %}

        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
	    {{ field }}           
        </div>
    {% endfor  %}

    {% if form.submit != ''%}
    	<button type="submit" class="btn btn-primary" >{{ form.submit }}</button>
    {% endif %}
    
    {% if form.back_text != '' %}
    	<a href="{{form.back_link}}" class="btn btn-default">{{form.back_text}}</a>
    {% endif%}
</form>

<script language="JavaScript">
$("#plugin-form").validate();

</script>
