<a href="#"
   data-toggle="modal"
   data-target="#basicModal{{headnode|slugify}}" title="Details">{{headnode}}</a>

<div class="modal fade" id="basicModal{{headnode|slugify}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">{{headnode}}</h4>
            </div>

            <div class="modal-body">
<h4><strong>HNICS:</strong></h4>
		<table class="table table-bordered table-condensed table-hover">
   <thead>
	<tr class = "info">	       
	  <th >
		Name
	  </th>              
	</tr>
   </thead>
	
   	  
   <tr  class = "active"> 
	{% for element in hnodes %}   
	   {% if element.hnics %}
              <td>
		  {% for hnic in element.hnics %}
    			{{hnic}}
		   {% endfor %}
              </td>	
	   {% else %}
              <td> This Headnode has no HNICs</a> </td>
	   {%endif%}
      {% endfor %}
	
</tr>

</table> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        </div>
    </div>
  </div>
</div>








