{% extends "base.html" %}
{% block content %}

<h1>{{headnode.name}}<small>
<!--<a href="/nodes/{{node.name}}/power_cycle" class="btn btn-primary btn-sm">Power cycle</a>-->
</small></h1>
{% if headnode.dirty %}
    <a href ="/projects/{{headnode.project}}/headnodes/{{headnode.name}}/start" class="btn btn-primary btn-sm">Start Headnode</a>
{%else%}
    <a href ="/projects/{{headnode.project}}/headnodes/{{headnode.name}}/stop" class="btn btn-danger btn-sm">Stop Headnode</a>
{% endif %}  
<div class="row">
    <div class="col-md-6">
       <hr /> 
       <h3>HNICS</h3>
              
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        HNIC name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {% for hnic in headnode.hnics%}
	    <tr class="active">
                <td>{{hnic}}</td>
		<td>
                   <a href="{{headnode.name}}/headnode_delete_hnic/{{hnic}}" class="btn btn-danger btn-sm">Delete</a>
		</td>
	    </tr>

	    {% endfor %}
	</table>
         <a href="../../projects/{{headnode.project}}" class="btn btn-default btn-sm">
	    <i class="glyphicon glyphicon-arrow-left"></i> Back</a>
        {% include 'createModal.html' with createModal=createModal%}
        {% if headnode.hnics %}
	   <a href="#" data-toggle="modal"
   		data-target="#basicModalWarn{{network.label}}" class="btn btn-danger btn-sm">Delete</a>
	   <div class="modal fade" id="basicModalWarn{{network.label}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    	      <div class="modal-dialog">
        	<div class="modal-content">
            	  <div class="modal-header">
              	     <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              	     <h3 class="modal-title" id="myModalLabel">{{headnode.name}}</h3>
                  </div>

                  <div class="modal-body">
	       	       This headnode cannot be deleted. Please make sure that this headnode has no hnics allocated to it.
                  </div>
         
         	  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        	  </div>
	       </div>
             </div>
           </div>
         </div>
	{% else %}
           {% include "deleteModal.html" with deleteModal=deleteForm %}
        {% endif %}
        
      </div>
      
</div>


{% endblock %}
