<a href="#" 
   data-toggle="modal"
   data-target="#basicModal{{network.label|slugify}}" title="Details">{{network.label}}</a>


<div class="modal fade" id="basicModal{{network.label|slugify}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3 class="modal-title" id="myModalLabel">{{network.label}}</h3>
            </div>

            <div class="modal-body">
	       <h4><strong>Project: </strong>{{network.access}}</h4>
	       <h4><strong>Creator: </strong>{{network.creator}}</h4>
	       <h4><strong>NICs:</strong></h4>
                 {% if network.nics %}
			<table class="table table-bordered table-condense table-hover">
				<tr class = "info">	     
	  			   <th>Name</th><th>MAC Address</th>
				</tr>
				     {% for nics in network.nics %}
					<tr class = "active">
    					   <td>{{nics.label}}</td>
					   <td>{{nics.mac_addr}}</td>
                        		</tr>
				     {% endfor %}
			</table>
                {% endif %}
		<h4><strong>HNICs:</strong></h4>
		{% if network.hnics %}
		 <table class="table table-bordered table-condense table-hover">
			<tr class = "info">	     
	  		  <th>Name</th>
			</tr>
			  {% for hnics in network.hnics %}
			    <tr class = "active">
				<td>{{hnics.label}}</td>			
                            </tr>
			  {% endfor %}
		 </table>
		{% endif %}
            </div>
         
         <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        </div>
	</div>
    </div>
  </div>
</div>


