<div class="col-md-5">
<table class="table table-bordered table-condensed table-hover">
   <thead>
     <tr class = "info">
       <th>Network name</th><th>Project</th><th>Allocated</th>
     </tr>
   </thead>
   {% for network in project.networks %}
   <tr class = "active">
      <td>{{network.label}}</td><td>{{network.access}}</td><td>{{network.allocated}}</td>
     <!-- <td>
      {% for nics in network.nics %}
	{{nics}}
      {% endfor %}
	</td>-->
   </tr>
  {% endfor%}          
</table>
</div>

