{% extends "base.html" %}
{% block content %}
<div class="col-md-8">
<table class="table table-bordered table-condensed table-hover">
   <thead>
     <tr class = "info">
       <th>Network Name</th>
       <th>Project</th> 
       <th>Action</th>      
     </tr>
   </thead>
   <tbody>
   {% for network in context.networks %}
   <tr class = "active">
      <td>
	   {% block network%}
              
		   {% include "network.html" %}
		
	    {% endblock %}
      </td>
      <td>{{network.access}}</td>
      <td>
	{% if network.access == "None" %}
	  {% if not network.nics %}
	    {% if not network.hnics %}
		{% include "deleteNetwork.html" with deleteForm=context.deleteForm %}
	    {% endif %}
          {% endif %}
	{% endif %}    
	</td>
   </tr>
  {% endfor%}
</tbody> 
</table>
</div>
<div class="col-md-10">
{% include 'createModal.html' with createModal=context.createModal %}
</div>

<script type="text/javascript">
window.onload=function () {
    $('#network').addClass('active');
};
</script>
{% endblock %}
