<a href="#" class="btn btn-success"
   data-toggle="modal"
   data-target="#basicModal">Details</a>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">Node Details</h4>
            </div>
            <div class="modal-body" align="middle">
		<iframe src="/node/{{node}}" width="550px" frameBorder="0" scrolling="no"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        </div>
    </div>
  </div>
</div>


