{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>	     
            <th>
                Node Name
            </th>   
	    <th>
		Status
	    </th>                 
        </tr>
    </thead>
   
    <tr>     
	<td>{{nodes.name}}</td>
	<td><input id="switch-state" type="checkbox" >{{nodes.status}}</td>
    </tr>
</table>
<a href="../project/detail/Project1" class="btn btn-default">Back</a>
  <script src="dist/js/bootstrap-switch.js"></script>

{% endblock %}
