{% extends "base.html" %}
{% block content %}

<h2>{{node.name}}<small>
<a href="/nodes/{{node.name}}/power_cycle" class="btn btn-primary btn-sm">Power cycle</a>
</small></h2>
<div class="row">
    <div class="col-md-6">
       <h3>NICs</h3>
        <hr />       
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        NIC name
                    </th>
                    <th>
 			MAC Address
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {% for nic in node.nics%}
	    <tr class="active">
                <td>{{nic.label}}
		</td>
		<td>{{nic.macaddr}}
		</td>
		<td>
		</td>
	    </tr>

	    {% endfor %}
	</table>
      </div>
      <div class="col-md-6">
	<h3>Network</h3>
        <hr />
        {% if node.network  %}
	  <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        Network name
                    </th>
                    
                </tr>
            </thead>
            {% for n in node.network%}
	    <tr class="active">
                <td>{{n.network}}
		</td>
		
	    </tr>

	    {% endfor %}
	</table>
        {% else %}
           This node is not connected to a network
           
       {% endif %}
      </div>
    </div>
    <div class="row">
    <div class="col-md-6">
	<h3>Project</h3>
        <hr />
        {% if node.project != "None"  %}
	  <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        Project name
                    </th>
                    
                </tr>
            </thead>
            <tr class="active">
                <td>{{node.project}}
		</td>		
	    </tr>

	   
	</table>
        {% else %}
           This node is a free node
           
       {% endif %}
      </div>
</div>
	{% include 'deleteNode.html' %}
{% endblock %}
