{% extends "base.html" %}
{% block content %}
<div class="col-md-5">
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr class = "info">	       
            <th>
                Node Name
            </th>
            <th>
               Actions
            </th>                    
        </tr>
    </thead>
    {% for node in context.nodes %}
    <tr class = "active">      
	<td>{{node}}</td>
        <td> </td>
    </tr>
    {% endfor%}
</table>
</div>

<script type="text/javascript">
window.onload=function () {
    $('#node').addClass('active');
};
</script>

{% endblock %}


