{% extends "base.html" %}
{% block content %}

<h2>{{node.name}}<small>
<a href="/nodes/{{node.name}}/power_cycle" class="btn btn-primary btn-sm">Power cycle</a>
</small></h2>
<div class="row">
    <div class="col-md-8">
       <hr /> 
       <h3>NICs</h3>
              
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        NIC name
                    </th>
                    <th>
 			MAC Address
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {% for nic in node.nics%}
	    <tr class="active">
                <td>{{nic.label}}
		</td>
		<td>{{nic.macaddr}}
		</td>
		<td>
            <a href="{{node.name}}/node_delete_nic/{{nic.label}}" class="btn btn-danger btn-sm">Delete</a>
		</td>
	    </tr>

	    {% endfor %}
	</table>
    {% include 'registerNodeNic.html' with registerNic=registerNic%}
    {% include 'deleteNode.html' %}
      </div>      
</div>
	
{% endblock %}
