<a href="#" 
   data-toggle="modal"
   data-target="#basicModal{{node|slugify}}" title="Details">{{node}}</a>


<div class="modal fade" id="basicModal{{node|slugify}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 class="modal-title" id="myModalLabel">{{element.name}}</h3>
            </div>

            <div class="modal-body">
<!--		<table class="table table-bordered table-condense table-hover">
   <thead>
	<tr class = "info">	     
	  <th>
		Name
	  </th>   
	  <th>
		Available
	  </th>  
	  <th colspan=2>
		NICs
	  </th>                
	</tr>
   </thead>
	
   	  
   <tr  class = "active"> 
	<td>{{element.name}}</td>    
	<td>{{element.free}}</td>
 	<td>
  		<table>
		{% for nic in element.nics %}
			<tr class = "active">
    			<td>{{nic.label}}</td>
			<td>{{nic.macaddr}}</td>
                        </tr>
		{% endfor %}
		</table>	
	</td>
</tr>

</table> -->	
        	<h4><strong>Available: </strong>
		{% if element.free %} <span class="label label-success">{{element.free}}</span>
		{% else %}
		<span class="label label-warning">{{element.free}}</span>
		{% endif %}
		</h4>
		<h4><strong>NICs:</strong></h4>
		<table class="table table-bordered table-condense table-hover">
		<thead>
		<tr class = "info">	     
	  	<th>Name</th><th>MAC Address</th>
		{% for nic in element.nics %}
			<tr class = "active">
    			<td>{{nic.label}}</td>
			<td>{{nic.macaddr}}</td>
                        </tr>
		{% endfor %}
		</table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
        </div>
    </div>
  </div>
</div>


