{% extends "base.html" %}
{% block content %}

<h2>{{node.name}}<small>
<a href="/nodes/{{node.name}}/power_cycle" class="btn btn-primary btn-sm">Power cycle</a>
</small></h2>
<div class="row">
    <div class="col-md-8">
       <hr /> 
       <h3>NICs</h3>
              
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        NIC name
                    </th>
                    <th>
 			MAC Address
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {% for nic in node.nics%}
	    <tr class="active">
                <td>{{nic.label}}
		</td>
		<td>{{nic.macaddr}}
		</td>
		<td>
            <a href="{{node.name}}/node_delete_nic/{{nic.label}}" class="btn btn-danger btn-sm">Delete</a>
		</td>
	    </tr>

	    {% endfor %}
	</table>
    {% include 'registerNodeNic.html' with registerNic=registerNic%}
    {% if node.nics.length == 0 %}
	{% include "deleteModal.html" with deleteModal=deleteForm %}
    {% else %}
        <a href="#" data-toggle="modal"
   		data-target="#basicModalWarn" class="btn btn-danger btn-sm">Delete</a>
	<div class="modal fade" id="basicModalWarn" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    	 <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3 class="modal-title" id="myModalLabel">{{node.name}}</h3>
            </div>

            <div class="modal-body">
	       	       This node cannot be deleted. Please make sure that this node has no nics.
            </div>
         
           <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
           </div>
	 </div>
        </div>
       </div>
</div>
    {% endif %}
    
      </div>      
</div>
	
{% endblock %}
