{% extends "base.html" %}

{% block content %}

<h2>{{project.name}}</h2>

<div class="row">
    <div class="col-md-5">
        <h3>Nodes</h3>
        <hr />       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    	<input type="checkbox" onClick="toggle(this)" />
                    </th>
                    <th>
                        Node name
                    </th>
                    <th>
                        More info
                    </th>
                </tr>
            </thead>
            {% for node in project.nodes %}
            <tr>
                <td>
                    <input type="checkbox" name="nodeCheck" />
                </td>
                <td>{{node}}</td>
                <td><!--<a href="/node/{{ node.name }}" class="btn btn-success" >Details</a>-->
 			{% block node%}
        		   {% include "node.html" %}
    			{% endblock %}
		</td>
            </tr>
            {% endfor%}
            
        </table>
	<div>
           <a href="../details/freenodes/{{project.name}}" class="btn btn-primary">Attach New</a> <input type="submit" value="Detach Selected" class="btn btn-default" />
	</div>    
</div>

    <div class="col-md-5">
        <h3>Headnodes</h3>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Headnode Name
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tr>
            {% for headnode in project.headnodes%}
            <tr>
                <td>{{headnode}}</td>
                <td><a href="" class="btn btn-success">Assign</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
    <div class="col-md-5">
        <h3>Networks</h3>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Network name
                    </th>
                </tr>
            </thead>
            {% for network in project.networks %}
            <tr>
                <td>{{network}}</td>
            </tr>
            {% endfor%}
            
        </table>
    </div>
</div>

<p>
   <div class="col-md-12">
<hr />
 	<a href="/projects" class="btn btn-primary">Back to list</a>
    	<!--<a href="/project/delete/{{project.name}}" class="btn btn-danger">Delete</a>-->
	{% block delete%}
        	{% include "deleteProject.html" %}
    	{% endblock %}

   </div>   
</p>


<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('nodeCheck');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
    
{% endblock %}
