{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Status
            </th>
            <th>
                More info
            </th>
        </tr>
    </thead>
    {% for project in projects %}
    <tr>
        <td>{{project.name}}</td>
        <td>{{project.status}}</td>
        <td><a href="/projects/details/{{ project.name }}" class="btn btn-success">Manage</a></td>
    </tr>
    {% endfor%}
</table>
<a href="../projects/create" class="btn btn-primary">Create New</a>
<script type="text/javascript">
window.onload=function () {
    $('#project').addClass('active');
};
</script>
{% endblock %}
