{% extends "base.html" %}

{% block content %}

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr class = "info">
            <th>
                Project Name
            </th>
            <th>
                More info
            </th>
        </tr>
    </thead>
<tbody>
    {% for project in projects %}
    <tr class = "active">
        <td>{{project}}</td>
        <td><a href="/projects/{{project}}" class="btn btn-success">
	<span class = "glyphicon glyphicon-cog" aria-hidden = "true"> </span>	
	Manage</a></td>
    </tr>
    {% endfor%}
</tbody>
</table>
{% include 'createProject.html' with createProject=createProject%}
<a href="../projects/create" class="btn btn-primary">
	<span class = "glyphicon glyphicon-cloud" aria-hidden = "true"> </span>Create New</a>

<script type="text/javascript">
window.onload=function () {
    $('#project').addClass('active');
};
</script>

{% endblock %}
