{% extends "base.html" %}

{% block content %}

<h2>{{project.name}}</h2>

<div class="row">
    <div class="col-md-5">
        <h3>Nodes</h3>
        <hr />       
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class ="info">
                    <th class ="info">
                        Node name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {% for node in project.project_nodes %}
            <tr class = "active">
                
		<td>
		   <form action="/projects/{{project.name}}/detach_node" method="POST">
				{%csrf_token%}
				<input type="hidden" name="node_name" value="{{node}}"/>
				{% block node%}
                                      {% for element in nodes %}
     					{% if element.name == node %}
			   		   {% include "node.html" %}
					{% endif %}
				      {% endfor%}
				{% endblock %}
				<td><input type="submit" value="Detach" class="btn btn-danger"/></td>
                     </form>
 		</td>
            </tr>
            {% endfor%}
            
        </table>
	<div>
           <a href="../projects/{{project.name}}/attach_node" class="btn btn-primary">Attach New</a> <!--<input type="submit" value="Detach Selected" class="btn btn-default" /> -->
	</div>    
</div>

    <div class="col-md-5">
        <h3>Headnodes</h3>
        <hr />
       
			  {% if project.headnodes %}
			   <table class="table table-bordered table-condensed table-hover">
            			<thead>
                		  <tr class = "info">
                    		  <th class = "info">
                        		Headnode Name
                    		  </th>
			  	  <th> 
					Actions
				  </th>
                		</tr>
            			</thead>
            			<tr class = "active">
            			  {% for headnode in project.headnodes%}
            			<tr class = "active">
                		  <!-- <td>{{headnode}}</td>-->
				   <td>
				   {%block headnode%}
			   		   {% include "headnode.html" %}
				   {% endblock %}
			           </td>
                		   <!--<td><a href="" class="btn btn-success">Assign</a></td>-->
            			</tr>
              			  {%endfor%}
        		    </table>
                    {% else %}
                        <p>No headnodes are assigned to this project.</p>
                        <a href="/headnode/create" class="btn btn-primary">Create New Headnode</a>
                    {% endif %}
                   
    </div>
</div>
    <div class="col-md-5">
        <h3>Networks</h3>
        <hr />
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class = "info">
                    <th class = "info">
                        Network name
                    </th>
                </tr>
            </thead>
            {% for network in project.networks %}
            <tr class = "active">
                <td>{{network}}</td>
            </tr>
            {% endfor%}
            
        </table>
    </div>
</div>

<p>
   <div class="col-md-12">
<hr />
 	<a href="/projects" class="btn btn-primary">
	<span class = "glyphicon glyphicon-arrow-left" aria-hidden = "true"> </span>
	Back to list</a>
	{% block delete %}
        	{% include "deleteProject.html" %}
    	{% endblock %}

   </div>   
</p>


<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('nodeCheck');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
    
{% endblock %}
