/* html div over-rides */
body {

background-image: url("images/test2.jpg"); 
background-color: grey;
background-width:100%;

background-size: 100% auto;

background-repeat: no-repeat;
background-position: center center; /* optionally, center the image */
background-attachment: fixed;

text-align: middle;
vertical-align: center;

margin: 50px;
}

/*
#wrapper1{
	padding: 25px;
	font-size: 14px;
	font-weight: bold;
	background-color: #fff;
	opacity: 1;
	color: #000;
	width: 740px;
	margin-left: 0px;
	position: absolute;
	

}


#wrapper2{
	background-color: #000;


}


#wrapper3{
	background-color: #fff;
	outline-width: 700px;
	margin: 100px;
	opacity: 0.9;
	background-position: center;

}
*/



table {
border-collapse: collapse;
}
td {
vertical-align: center;
}
th {
font-size: large;
font-weight: bold;
text-align: left;
}

