<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr class = "info">
            {# for header in table #}
                <td>
                    {# header.name #}
                </td>
            {# endfor #}
        </tr>
    </thead>
    <tbody>
        {# for row in table #}
            <tr class = "active">
                {# for column in row #}
                <td>
                    {# column.name #}
                </td>
                {# endname #}
            </tr>
        {# endfor #}
    </tbody>
</table>
